<div class="container">
  <h1>Welcome Home!</h1>
  <p>Here are some API calls you can make:</p>

  <div class="button-group">
    <button class="api-button" (click)="handleApiCall('/check-session/')">
      Check Session
    </button>
    <button class="api-button" (click)="handleApiCall('/user-info/')">
      User Info
    </button>
    <button class="api-button" (click)="handleApiCall('/setting/playpen/')">
      Setting Playpen
    </button>
    <button class="api-button" (click)="handleApiCall('/study/')">Study</button>
    <button class="logout-button" (click)="logout()">Logout</button>
  </div>

  <!-- Displaying JSON response -->
  <div *ngIf="apiResponse">
    <h3>API Response:</h3>
    <pre>{{ apiResponse | json }}</pre>
  </div>

  <ng-template #login>
    <app-login></app-login>
  </ng-template>
</div>
